/* .banner{
    height: 200px;
    width: 800px;
} */
.banner {
    /* margin-top: 200px; */
    padding: 100px 100px;
    /* background-color:#6b87ee;
     */
     background-color: #72cdf4;
    /* background-color: rgb(8 0 0 / 60%);; */
    /* background-image: url('../images/banner.png'); */
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
 
}

.banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    border: 1px solid rgba(255, 255, 255, 0.5);

    font-size: 20px;
    text-align: left;
    margin-bottom: 16px;
    display: inline-block;
    
}
.banner   .wrap{
    font-family: monospace;
    text-wrap:pretty;
    min-width: 100px;
}
.banner .description img{
  height: 40px;
  width: 25px;
}
  .description{
    /* background-color: #66666641; */
    margin-top: 40px;
    background-color: #ffe552;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    box-sizing: border-box;
    /* filter: drop-shadow(10px 10px #dc0c3d); */
    color: cornsilk;
    box-shadow: #ffffff;
    z-index: 99;
    border-radius: 30px;
    
  }
  .banner h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
    align-items: start;
    text-align: left;
  }

  .location{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .banner p {
    color: #490202;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
    text-align: justify;
    margin-top:  10px;
    padding: 20px 0px;
  }
  .banner button {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
  }
  .banner button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
  }
  .banner button:hover svg {
    margin-left: 25px;
  }
  /* .banner img {
    animation: updown 3s linear infinite;
  } */
  @keyframes updown {
      0% {
          transform: translateY(-20px);
      }
      50% {
          transform: translateY(20px);
      }
      100% {
          transform: translateY(-20px);
      }
  }
  .txt-rotate > .wrap {
    border-right: 0.08em solid #666;
  }
  
  .profileContainer{
    display: flex;
    justify-content: space-around;
  }
  .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    
  }
  .profileImage{
    background-color: #666;
    width: 340px;
    height: 340px;
    border-radius: 50px;
    border: 5px solid #e7c505b6;
     /* #be782edb; */
    position: relative;
    overflow: hidden; 
  }

  .profileLink ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    /* background-blend-mode: multiply; */
  }
  .profileLink ul img{
  mix-blend-mode: multiply;
  width: 30px;
  }

  @media screen and (max-width: 768px) {
    .banner {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: flex-start;
      align-items: start;
      padding: 100px 10px;
    }
    .profileImage {
      width: 150px;  /* set your desired width for smaller screens */
      border-radius: 30px;
      height: 150px; /* set your desired height or auto for smaller screens */
    }
    .profileLink ul img{
    width: 20px;
    }
  }
.pfp {
    /* border-radius: 100%;
    border-top-left-radius: 100%; 
     margin-top: 127px; 
    padding: 20px;
    object-fit: contain;
    padding-bottom: 191px;
     */
     width: 100%;     /* take up full width of the div */
     height: 100%;    /* take up full height of the div */
     object-fit: cover;
    }
/* .banner img {
  position: relative;
} */
/* .pfp{
     height: 200px;
    
    box-sizing: border-box;
    object-fit: fill;
} */